.hero {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.685)), to(#202020)), url("../assets/home/matrix-poster.jpeg");
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.685), #202020), url("../assets/home/matrix-poster.jpeg");
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center top;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .wrapper {
  width: 90%;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .wrapper .text {
  height: 20rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .wrapper .text .desc {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.hero .wrapper .text .info {
  margin-top: 1.3rem;
}

.hero .wrapper .text .info p {
  padding-bottom: 2rem;
}

.hero .wrapper .text .info p i {
  padding-right: 0.5rem;
}

.hero .wrapper .text h1 {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 90vh;
  }
  .hero .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10rem;
  }
}

@media screen and (max-width: 425px) {
  .hero .wrapper {
    margin-top: 17rem;
  }
  .hero .img {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .hero .wrapper .text h1 {
    font-size: 2rem;
  }
  .hero .wrapper .text .desc {
    font-size: 1rem;
  }
}

.first-block {
  background: #353b48;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23484748' fill-opacity='0.42'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.first-block .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(420px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  row-gap: 60px;
  width: 80%;
  padding: 3rem 0;
  margin: auto;
}

.first-block .card {
  margin: auto;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  color: white;
  background: #50596d;
}

.first-block .img-wrapper {
  width: 100%;
  max-height: 200px;
}

.first-block img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.first-block .text {
  padding: 2rem 2rem;
  padding-bottom: 2.7rem;
}

.first-block .text h4 {
  margin-bottom: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid #e84118;
}

.first-block .text p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.first-block .info {
  margin-top: 1rem;
}

.first-block .info p {
  padding-bottom: 1rem;
}

.first-block .info p i {
  padding-right: 0.5rem;
}

.first-block .link {
  border: 2px solid white;
  padding: 0.5rem 1.3rem;
  border-radius: 8px;
  margin-left: 2rem;
  margin-top: 0rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.first-block .link i {
  padding-left: 0.7rem;
}

.first-block .link:hover {
  color: black;
  background: white;
}

.first-block .tag {
  padding: 0.4rem;
  font-size: 0.7rem;
}

@media screen and (max-width: 1024px) {
  .first-block .cards {
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .first-block .card {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .first-block .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .first-block .card {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .first-block .cards {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .first-block .card {
    height: 700px;
  }
  .first-block .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-block .tag {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0.3rem 0;
  }
}
/*# sourceMappingURL=home.css.map */