.hero {
  margin-top: 80px;
  font-size: 1.5rem;
  color: white;
  background: #323745;
  padding: 2rem 0;
}

.hero .wrapper {
  width: 90%;
  margin-left: auto;
}

.hero h2 {
  font-size: 1.9rem;
  font-weight: 500;
}

.first-block {
  height: 70vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(57, 57, 57, 0.708)), to(rgba(57, 57, 57, 0.708))), url("../assets/galerija/pic-1.jpeg");
  background-image: linear-gradient(to left, rgba(57, 57, 57, 0.708), rgba(57, 57, 57, 0.708)), url("../assets/galerija/pic-1.jpeg");
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-block .wrapper {
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  height: 60vh;
  min-width: 60%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form input {
  padding: 5px 10px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  border: 2px solid white;
  color: white;
  background: #393939;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn.link {
  padding: 0.6rem 1rem;
}

.btn:hover {
  background-color: white;
  color: #393939;
  border: #393939 solid 2px;
}

.links {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links a:first-child {
  margin-right: 1rem;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 860px) {
  .first-block {
    height: auto;
  }
  .first-block .wrapper {
    padding: 5rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .first-block .wrapper img {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .first-block .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=rezervacije.css.map */