body {
    position: relative;
    outline: none;
}
.hero {
    margin-top: 80px;
    font-size: 1.5rem;
    color: white;
    background: #323745;
    padding: 2rem 0;
    .wrapper {
        width: 90%;
        margin-left: auto;
    }
    h2 {
        font-size: 1.9rem;
        font-weight: 500;
    }
}
.first-block {
    height: clamp(60vh, auto, 100vh);
    outline: none;
    background: #353b48;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23484748' fill-opacity='0.42'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.slike {
    outline: none;
    width: 80%;
    margin: auto;
    padding: 4rem 0;
    display: grid;
    row-gap: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    cursor: pointer;
}
.slika {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
}
.image-full {
    display: none;
    position: fixed;
    width: 90%;
    // max-height: 60%;
    top: 100px;
    left: 5%;
    border: white 4px solid;
    // background: #000;
    height: clamp(50%, 80%, 100%);
    object-fit: contain;
    img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .close {
        background-color: rgba(0, 0, 0, 0.235);
        padding: 0 12px;
        color: white;
        position: absolute;
        font-size: 2rem;
        top: 10px;
        right: 40px;
        cursor: pointer;
    }
    &.open {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .slika {
        img {
            width: 100%;
        }
    }
}
@media screen and (max-width: 375px) {
    .slike {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .image-full {
        top: 120px;
    }
}
@media screen and (max-width: 425px) {
    .image-full {
        top: 300px;
        height: 50%;
    }
}
