.hero {
    margin-top: 80px;
    font-size: 1.5rem;
    color: white;
    background: #323745;
    padding: 2rem 0;
    .wrapper {
        width: 90%;
        margin-left: auto;
    }
    h2 {
        font-weight: 500;
    }
}
