.hero {
    margin-top: 80px;
    font-size: 1.5rem;
    color: white;
    background: #323745;
    padding: 2rem 0;
    .wrapper {
        width: 90%;
        margin-left: auto;
    }
    h2 {
        font-size: 1.9rem;
        font-weight: 500;
    }
}
.first-block {
    height: 70vh;
    background-image: linear-gradient(to left, rgba(57, 57, 57, 0.708), rgba(57, 57, 57, 0.708)),
        url("../assets/galerija/pic-1.jpeg");
    justify-content: center;
    align-items: center;
    display: flex;

    .wrapper {
        width: 60%;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
}
.form {
    height: 50vh;
    min-width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn {
    width: fit-content;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    border: 2px solid white;
    color: white;
    background: #393939;
    transition: 0.2s ease;
    &:hover {
        background-color: white;
        color: #393939;
        border: #393939 solid 2px;
    }
}
.time {
    // width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 860px) {
    .first-block {
        height: auto;
        .wrapper {
            padding: 5rem 0;
            justify-content: space-between;
            flex-direction: column-reverse;
            img {
                margin-bottom: 2rem;
            }
        }
    }
}
@media screen and (max-width: 425px) {
    .first-block {
        .wrapper {
            width: 90%;
        }
    }
}
